a, a:hover, a:visited, a:active {
    color: #66d37e;
}

a.btn {
    color: inherit;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid rgba(255,255,255,.5);
}

blockquote > p {
    margin-bottom: 0;
}

hr {
    border-top-color: rgba(255,255,255,.5);
}

html {
    background-color: #1F282D !important;
    min-height: 100%;
}

p {
    margin-bottom: 20px;
}

pre {
    border-radius: 4px;
    margin: 0.5em 0 20px !important;
}

sup {
    font-size: 105%;
    padding: 0 2px;
    top: 0;
}

/*****************************************************
 OVERRIDE DEFAULTS AND HELPER FUNCTIONS
*****************************************************/

.bg-dark {
    background-color: #1F282D !important;
}

.bg-dark-secondary {
    background-color: #f2f2f2 !important;
}

.bg-dark-tertiary {
    background-color: #fff !important;
}

.color-primary {
    color: black !important;
}

.color-secondary {
    color: #fff !important;
}

.h-fit-content {
    height: fit-content !important;
}

.mt--10 {
    margin-top: -10px !important;
}

.mb--10 {
    margin-bottom: -10px !important;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.w-fit-content {
    width: fit-content !important;
}

div.header-space > h2 ~ h2, div.header-space > p + h2 {
    margin: 1.5em 0 .5rem 0 !important;
}

.heading-hr {
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, .1);
    margin-top: -5px;
    max-width: 90% !important;
}

.hr-dark {
    border-top-color: black !important;
}

.hr-light {
    border-top-color: #6c757d !important;
}

.hr-accent {
    border-top-color: #3399ff !important;
}

.image-color-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.display-none-before-medium {
    display: none;
}

@media (min-width: 768px) {
    .display-none-before-medium {
        display: block;
    }
}

.card {
    height: 100%;
    padding: 0;
}

.card-text {
    color: #000000;
}

.card-link {
    color: inherit;
}

.card-link:hover {
    color: inherit;
}

.card-link:hover .card-title {
    text-decoration: underline;
}

.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

@media (min-width: 576px) {
    .card-img-top {
        height: 278px;
    }
}

@media (min-width: 768px) {
    .card-img-top {
        height: 152px;
    }
}

@media (min-width: 992px) {
    .card-img-top {
        height: 210px;
    }
}

@media (min-width: 1200px) {
    .card-img-top {
        height: 255px;
    }
}

.navbar {
    border-bottom: 2px solid black;
}

.navbar-brand > img {
    max-height: 30px;
    margin-right: 0.5em;
}

.banner {
    background-image: url("../images/banner-xl.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    min-height: 600px;
    width: 100%;
}

.banner > div, .banner > div > div {
    min-height: 600px;
}

@media (max-width: 991px) {
    .banner {
        background-image: url("../images/banner-md.jpg");
    }
}

@media (max-width: 575px) {
    .banner {
        background-image: url("../images/banner-sm.jpg");
    }
}

.banner img {
    max-width: 65%;
}

.text-center {
  color: #000000
}

@media (min-width: 576px) {
    .banner img {
        max-width: 75% !important;
    }

    .banner .image-color-overlay {
        padding-top: 0;
    }
}

.banner hr {
    border-top: 5px solid #6c757d;
    width: 65%;
}

@media (max-width: 367px) {
    .banner-caption {
        top: 150px;
    }
}

.content-section {
    color: #fff;
    min-height: 300px;
    width: 100%;
    padding: 3em 0;
}

@media (min-width: 576px) {
    .content-section {
        padding: 3em;
    }
}

.content-section h1, .content-section h2, .content-section hr, .content-section p {
    display: block;
    max-width: none !important;
    flex: none !important;
    width: 100%;
}

div.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.check-li {
    list-style: none;
    padding-left: 1.5em;
}

.check-li li {
    display: flex;
    align-items: center;
}

.check-li li:before {
    content: '\2713';
    display: inline-block;
    padding: 0 6px 0 0;
    font-size: 26px;
    color: #66d37e;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-footer {
    border-top: 1px solid black;
    color: #fff;
    min-height: 100px;
    align-items: center;
}

.page-footer > div.container {
    padding: 1em 0;
}

.social-icons-list a {
    filter: invert(88%) sepia(4%) saturate(99%) hue-rotate(155deg) brightness(96%) contrast(88%);
}

.social-icons-list a img {
    width: 25px;
}

.github-stats p {
    font-size: 20px;
}

.github-stats .row ~ .row {
    padding-top: 50px;
    color: #000000;
}

.feature-center {
    display: flex;
    flex-direction: column;
}

.counter {
    color: #66d37e;
    font-size: 50px;
}

.counter-label {
    text-transform: uppercase;
}

div.contributions {
    margin: 0 auto;
    padding-top: 1em;
    max-width: 563px;
}

svg.js-calendar-graph-svg text {
    fill: #fff;
    font-size: 10px;
}

div.orgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

@media screen and (max-width: 411px) {
    div.orgs {
        margin-top: 10px !important;
    }
}

a.org {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 7px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
}

a.org > img {
    max-height: 25px;
}

/*****************************************************
 BADGES
*****************************************************/
.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1530px) {
    .badge-anchor {
        width: 15% !important;
        margin: 2.5em !important;
    }
}

@media screen and (min-width: 1237px) and (max-width: 1529px) {
    .badge-anchor {
        width: 15% !important;
        margin: 2em !important;
    }
}

@media screen and (min-width: 950px) and (max-width: 1237px) {
    .badge-anchor {
        width: 15% !important;
    }
}

.badge-anchor {
    min-width: 133px;
    width: 20%;
    margin: 1.5em;
}

.badge-anchor:hover {
    text-decoration: none;
}

.badge-anchor:hover .badge-title {
    text-decoration: underline;
}

.badge-anchor, .badge-anchor:hover, .badge-anchor:visited, .badge-anchor:active {
    color: #fff;
}

.badge-container {
    width: 100%;
    text-align: center;
}

.badge-container img {
    width: 70%;
}

.badge-title {
    margin: 1em 0 0 0;
}

.badge-issuer {
    color: #777 !important;
}

/*****************************************************
 CONTACT
*****************************************************/
.contact-info img {
    filter: invert(88%) sepia(4%) saturate(99%) hue-rotate(155deg) brightness(96%) contrast(88%);
    height: 20px;
}

.contact-info a {
    margin-bottom: 5px;
}

/*****************************************************
 MAILING LIST
*****************************************************/
.mailing-list input, .mailing-list button {
    font-size: 16px;
    height: fit-content;
}

#mc_embed_signup {
    background-color: initial !important;
    font: inherit !important;
    width: 100% !important;
}

#mc_embed_signup form {
    padding: 0 !important;
}

#mc_embed_signup h2 {
    font-weight: normal !important;
    margin: 0 0 8px !important;
    font-size: 2rem !important;
}

/*****************************************************
 QUOTE ON PAGES
*****************************************************/
h2.quote {
    font-size: 40px;
    margin: 0 0 8px;
}
