/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.background-color {
    background-color: #f2f2f2 !important;
}

.color-primary {
    color: #3399ff !important;
}

.hr-accent {
    border: 5px solid #3399ff;
    border-radius: 5px;
}

h2.quote {
    font-size: 40px;
    margin: 50px 0 50px;
}

@media (min-width: 576px) {
    .profile-picture img {
        max-width: 75% !important;
    }
}


.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

@media (min-width: 576px) {
    .card-img-top {
        height: 278px;
    }
}

@media (min-width: 768px) {
    .card-img-top {
        height: 152px;
    }
}

@media (min-width: 992px) {
    .card-img-top {
        height: 210px;
    }
}

@media (min-width: 1200px) {
    .card-img-top {
        height: 255px;
    }
}
