<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Chralt"/>

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>Chralt</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="../static/images/favicon.ico">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
        <div class="container topnav">
          <a class="navbar-brand" href="#">
            <img src="../static/images/earth.png" width="32" height="32" class="d-inline-block align-middle" alt="Icon">
            Chralt
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/feeds">Feeds</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header banner">
        <div class="row h-100">
            <div class="col-md-12 d-flex h-100 flex-column flex-sm-row">
                <div class="col-sm-6 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <hr class="hr-accent">
                        <h1 class="display-4">Christopher Altmann</h1>
                        <h2>self-taught programmer</h2>
                        <h3>finance enthusiast</h3>
                        <hr class="hr-accent">
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <img src="../static/images/profile_image.png" width="512" height="512" class="img-responsive" alt="Picture of Me">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section d-flex justify-content-center">
        <div class="container">
            <div class="card color-secondary">
                <div class="row no-gutters">
                    <div class="col-md-4 display-none-before-medium">
                        <img src="../static/images/hexagon.png" class="card-img" alt="Hexagon">
                    </div>
                    <div class="col-md-1 display-none-before-medium"></div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">About Me</h5>
                            <hr class="heading-hr hr-accent mb-4 d-inline-block mx-auto" style="width: 60px;">
                            <p class="card-text">
                                My name is Christopher Altmann and I am a self-taught programmer. I have started my journey
                                in
                                October 2017 by joining the university Brandenburgische Technische Universität Cottbus. I taught myself several programming languages and tried out
                                some frameworks. Currently
                                I focus on the programming language Python.
                            </p>
                            <p class="card-text">
                                In October 2017 I joined IBM as a corporate student and started studying applied
                                computer-science in Mannheim.
                                To learn more about the projects I worked on, visit my <a
                                    href="/portfolio/">portfolio</a>.
                            </p>
                            <p class="card-text">
                                In my free time I code as much as possible, read historical novels and do a lot of
                                sports.
                            </p>
                            <div class="row color-primary">
                                <div class="col-md-6">
                                    <ul class="check-li">
                                        <li>Docker</li>
                                        <li>JavaScript</li>
                                        <li>Angular2/TypeScript</li>
                                        <li>Java EE</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="check-li">
                                        <li>Python</li>
                                        <li>Java SE 8</li>
                                        <li>C/C++</li>
                                        <li>R</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section bg-dark-secondary d-flex justify-content-center">
        <div class="row justify-content-center align-self-center text-center">
            <div class="col-sm-12">
                <h2 class="quote">Stay [w,h]ealthy, lovely and experiential!</h2>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small bg-light pt-4">

    <div class="container">
        <ul class="list-unstyled list-inline text-center social-icons-list">
            <li class="list-inline-item">
                <a href="https://github.com/Chralt98" target="_blank" class="btn-floating btn-dribbble mx-1">
                    <img src="../static/images/github.svg" width="64" height="64" alt="GitHub Icon">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3 bg-light">&copy; 2020 Chralt. All Rights Reserved.
    </div>
    </footer>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
