<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Chralt"/>

    <meta content="yes" name="apple-mobile-web-app-capable">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>Codensus</title>
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="../static/images/favicon.ico">

    <script src="../static/js/jquery-3.5.1.min.js"></script>
</head>
<body style="margin: 0; height: 100%;">
<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
    <div class="container topnav">
        <a class="navbar-brand" href="#">
            <img src="../static/images/earth.png" width="32" height="32" class="d-inline-block align-top" alt="Icon">
            Codensus
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<textarea id="editor"></textarea>
<div>
    {{ smart_contract_description | safe }}
</div>
<!--
<footer>
    <div class="footer-copyright text-center py-3">&copy; 2020 Chralt. All Rights Reserved.</div>
</footer>
-->
<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="../static/css/codemirror.css">
<script src="../static/js/codemirror.js"></script>
<script src="../static/js/javascript.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var myTextArea = document.getElementById('editor');
    var editor = CodeMirror.fromTextArea((myTextArea), {
        lineNumbers: true
    });
    editor.setSize("100%", "100%");
    var socket = io();

    socket.on('connect', function () {
        socket.emit('join', {'username': 'pasteInUserNameAsAddress', 'room': '{{ room }}' });
    });

    let serverEdits = {'text': '', 'from': '', 'to': '', 'origin': ''};

    editor.on("change", function (cm, change) {
        /*
        console.log(serverEdits['text']);
        console.log(change.text);
        console.log(change.text.toString() == serverEdits['text'].toString());
        console.log(serverEdits['from'].line === change.from.line);
        console.log(serverEdits['from'].ch === change.from.ch);
        console.log(serverEdits['from'].sticky === change.from.sticky);
        console.log(serverEdits['to'].line === change.to.line);
        console.log(serverEdits['to'].ch === change.to.ch);
        console.log(serverEdits['to'].sticky === change.to.sticky);
        console.log(serverEdits['origin'] === change.origin);
        */
        if (change.text.toString() == serverEdits['text'].toString()
            && serverEdits['from'].line === change.from.line
            && serverEdits['from'].ch === change.from.ch
            && serverEdits['from'].sticky === change.from.sticky
            && serverEdits['to'].line === change.to.line
            && serverEdits['to'].ch === change.to.ch
            && serverEdits['to'].sticky === change.to.sticky
            && serverEdits['origin'] === change.origin) {
        } else {
            console.log('EMIT');
            socket.emit('clientText', {
                'text': change.text,
                'from': change.from,
                'to': change.to,
                'origin': change.origin,
                'room': '{{ room }}'
            });
        }
    });

    socket.on('serverText', function (data) {
        editor.focus();
        let doc = editor.getDoc();
        serverEdits = {'text': data['text'], 'from': data['from'], 'to': data['to'], 'origin': data['origin']};
        // following triggers change event:
        doc.replaceRange(data['text'], data['from'], data['to'], data['origin']);
        serverEdits = {'text': '', 'from': '', 'to': '', 'origin': ''};
    });

    socket.on('getCode', function (data) {
        /*
        serverEdits = {
            'text': data.toString().split('\n'),
            'from': {line: 0, ch: 0, sticky: null},
            'to': {line: 0, ch: 0, sticky: null},
            'origin': 'setValue'
        };
        editor.setValue(data);
        */
        editor.focus();
        let doc = editor.getDoc();
        data = JSON.parse(data);
        for (let i = 0; i < data.length; i++) {
            let change = data[i];
            serverEdits = {
                'text': change['text'],
                'from': change['from'],
                'to': change['to'],
                'origin': change['origin']
            };
            // following triggers change event:
            doc.replaceRange(change['text'], change['from'], change['to'], change['origin']);
            serverEdits = {'text': '', 'from': '', 'to': '', 'origin': ''};
        }
    });
</script>
<link rel="stylesheet"
      href="../static/css/default.min.css">
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
